/***BASE STYLES***/

body {
	font-family: 'Montserrat', sans-serif;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
}

header {
	height: auto;
	margin: 20px;
}

#rogue, nav, h2, #specials, #fresh {
	color: #77a466;
}

h1, h2, h3, nav, footer {
	text-transform: uppercase;
	/*font-weight: 800;*/
}

/***HEADER***/

h1 {
	color: black;
	font-size: 30px;
	float: left;
}

nav {
	float: right;
}

nav ul li {
	display: inline-block;
	font-size: 14px;
	margin: 8px;
	font-weight: 600;
}

/***MAIN***/

#green-beans {
	border-top: 5px solid #77a466;
	border-bottom: 5px solid #77a466;
	margin: 20px 0px 20px 0px;
	clear: both;
}

.top-section {
	border-bottom: 2px solid #e6e6ff;
	clear: both;
}

/**** Float not working! ***/
.left, .middle, .right {
	width: 300px;
	float: left;
}
.middle {
	border-left: 2px solid #e6e6ff;
	border-right: 2px solid #e6e6ff;
}

h2 {
	font-size: 18px;
}

h3 {
	font-size: 12px;
}

#specials {
	line-height: 250%;
}

/***FOOTER***/

footer {
	text-align: center;
	margin: 20px 10px;
	padding-top: 10px;
	clear: both;
	border-top: 2px solid 	#e6e6ff;
}